#diseño,
#desarrollo,
#content {
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

#diseño {
  margin-top: 80px;
}

.titulo {
  color: #4ecdc4;
  font-size: 50px;
  font-weight: bold;
}

.contenido {
  font-size: 22px;
  line-height: 42px;
  color: #283d3b;
  width: 45%;
}

#diseño,
#content {
  background: white;
}

#desarrollo {
  background: #efefef;
}

.navbar-services__blue {
  background: linear-gradient(
    90deg,
    rgba(100, 175, 220, 1) 0%,
    rgba(26, 125, 184, 1) 100%
  );
}

.navbar-services__blue a,
.navbar-services__blue .fa-bars {
  color: white;
}

#diseño img,
#desarrollo img,
#content img {
  width: 40%;
  margin-left: 5%;
}

@media (max-width: 575.98px) {
  .contenido {
    font-size: 20px;
    line-height: 38px;
    width: 100%;
  }
  #diseño img,
  #desarrollo img,
  #content img {
    width: 90%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .contenido {
    font-size: 20px;
    line-height: 38px;
    width: 100%;
  }
  #diseño img,
  #desarrollo img,
  #content img {
    width: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .contenido {
    font-size: 20px;
    line-height: 38px;
  }
}
